body {
  outline: none;
}

#TB_ajaxContent {
  background: #fff;
}

#TB_window {
  z-index: 100050 !important;
}

#TB_overlay {
  z-index: 100050 !important;
}

/* Post Options */
.postoptions {
  padding: 0px;
  padding-top: 0;
}

.postoptions table {
  width: 100%;
}

.postoptions select,
.postoptions textarea,
.postoptions input[type=text] {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 7px;
  background: #fff;
}

.postoptions textarea {
  height: 150px;
}

.postoptions input[type=button] {
  margin-right: 3px;
}

.postoptions input[type=checkbox] {
  padding: 3px;
}

.postoptions .box-option {
  width: 100%;
  padding: 5px 0 0 0;
  margin-right: 15px;
  background: transparent;
}

.postoptions .box-option.radio,
.postoptions .box-option.checkbox {
  padding-top: 15px;
}

.postoptions .box-info {
  padding: 0;
  color: #444;
  font: italic normal 11px/16px verdana, Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.postoptions label {
  display: inline;
}

.postoptions select:focus,
.postoptions input:focus,
.postoptions textarea:focus {
  background: #fff;
}

.hide {
  display: none;
}

.postoptions .metabox {
  margin-bottom: 5px;
}

.postoptions .metabox label {
  padding: 5px 0;
  margin: 0 5px;
  dispaly: inline-block;
}

.metainner {
  padding: 15px;
  border: 1px solid #dfdfdf;
  background: #f9f9f9;
}

input.smallinput {
  width: 200px !important;
}

input.mediuminput {
  width: 350px !important;
}

.box-option select {
  width: 200px;
  font-size: 12px;
  height: 2.6em;
  padding: 7px;
}

/* Master Slider */
.msp-metabox {
    direction: ltr;
}
.msp-dialog button.ui-dialog-titlebar-close:before {
    display: none;
}
.msp-dialog .ui-dialog-title {
    top: 6px;
}

/* Ultimate Addon */
.update-nag.bsf-update-nag,
#wpbody .ult_activate {
    display: none;
}
#wpbody .wrap > .updated.fade {
    display: none;
}
.onoffswitch {
    direction: ltr;
}

/* metabox styles */
.metabox {
  font-size: 12px;
  width: auto;
  margin: 0 auto 5px auto;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.postoptions .metabox h3 {
  cursor: default;
  float: left;
  background: transparent;
  border-width: 0;
  width: 250px;
  line-height: 1.4 !important;
  padding-top: 12px !important;
  padding-left: 0 !important;
  text-align: right;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.metabox label.title {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
}

.metainner {
  background-color: transparent;
  border-width: 0;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
}

.postoptions .metabox:after {
  display: block;
  content: ".";
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
}

#cpt_info_box {
  display: none;
}

.ls-preview .btn {
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ls-preview .btn-lg {
  padding: 10px 26px !important;
  font-size: 18px;
  line-height: 1.33;
}

.ls-preview .price-box {
  width: 135px;
  height: 135px;
  background: #7bae23;
  border-radius: 68px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 135px;
  vertical-align: middle;
  -webkit-box-shadow: 1px 1px 2px #888;
  box-shadow: 1px 1px 2px #888;
}

body.ebsp-mf-shown.wp-admin .mfp-bg {
  z-index: 20000 !important;
}

body.ebsp-mf-shown.wp-admin .mfp-wrap {
  z-index: 20001 !important;
}

.redux-main #porto_settings-header-type img,
.redux-main #porto_settings-footer-type img,
.redux-main #porto_settings-breadcrumbs-type img {
  width: 100% !important;
}
.redux-container .ui-button {
    height: auto;
}
.redux-container .ui-widget {
    font-size: 1em;
}
.redux-container .ui-button, .control-section-redux .ui-button, .control-panel-redux .ui-button, .redux-metabox .ui-button {
    font-family: inherit;
}

.admin-color-fresh.rtl .redux-sidebar .redux-group-menu li.hasSubSections a .extraIconSubsections {
    float: left;
    margin-left: 5px;
    margin-right: auto;
}

.rtl .msp-dialog button.ui-dialog-titlebar-close {
    float: right;
    right: auto;
    left: 13px;
}

.master-slider {
    direction: ltr;
}

/* Menu item classes */
.edit-menu-item-popup_bg_image,
.edit-menu-item-preview {
    margin-bottom: 10px;
}

/* Redux Options */
.redux-main .select2-container {
    display: inline-block !important;
}
#porto_settings-theme-type .redux-image-select li label {
    max-width: 100%;
}
#porto_settings-theme-type .redux-image-select li img {
    max-width: 100%;
}

/* Post type icons */
#menu-posts-block .dashicons-admin-post:before {
    content: "\f123";
}
#menu-posts-member .dashicons-admin-post:before {
    content: "\f110";
}
#menu-posts-portfolio .dashicons-admin-post:before {
    content: "\f128";
}
#menu-posts-faq .dashicons-admin-post:before {
    content: "\f330";
}
#toplevel_page_porto_settings .dashicons-admin-generic:before {
    content: "\f111";
}

/* VC deprecated message */
.vc_ui-panel-window[data-vc-shortcode="vc_tabs"] .vc_shortcode-edit-form-deprecated-message,
.vc_ui-panel-window[data-vc-shortcode="vc_tab"] .vc_shortcode-edit-form-deprecated-message,
.vc_ui-panel-window[data-vc-shortcode="vc_tour"] .vc_shortcode-edit-form-deprecated-message,
.vc_ui-panel-window[data-vc-shortcode="vc_accordion"] .vc_shortcode-edit-form-deprecated-message,
.vc_ui-panel-window[data-vc-shortcode="vc_accordion_tab"] .vc_shortcode-edit-form-deprecated-message {
    display: none;
}
.vc_add-element-container .wpb-elements-list.vc_filter-all .wpb-layout-element-button.vc_element-deprecated[data-element="vc_tabs"],
.vc_add-element-container .wpb-elements-list.vc_filter-all .wpb-layout-element-button.vc_element-deprecated[data-element="vc_tab"],
.vc_add-element-container .wpb-elements-list.vc_filter-all .wpb-layout-element-button.vc_element-deprecated[data-element="vc_tour"],
.vc_add-element-container .wpb-elements-list.vc_filter-all .wpb-layout-element-button.vc_element-deprecated[data-element="vc_accordion"],
.vc_add-element-container .wpb-elements-list.vc_filter-all .wpb-layout-element-button.vc_element-deprecated[data-element="vc_accordion_tab"] {
    display: block;
}
