/* Owl Carousel */
.owl-carousel {
    position: relative;

    .owl-wrapper-outer {
        //border-radius: $border-base;
    }
    .thumbnail,
    .img-thumbnail {
        max-width: $thumbnail-slide-width;

        img {
            width: 100%;
        }
    }
    .img-responsive {
        display: inline-block;
    }
}

.owl-theme .owl-controls {
    margin-top: 20px;
    .owl-buttons div {
        border-radius: $border-base;
        border-bottom: 2px solid transparent;
        filter: alpha(opacity = 100);
        opacity: 1;
        padding: 1px 9px;
        margin: 2px;
    }
    .owl-buttons {
        div {
            background: transparent;
            border-radius: 0;
            position: absolute;
            top: 50%;
            font-family: "FontAwesome";
            font-size: 1.2857em;
        }
        .owl-prev {
            #{$left}: 0;
            &:before {
                content: if-ltr($fa-var-chevron-left, $fa-var-chevron-right);
            }
        }
        .owl-next {
            #{$right}: 0;
            &:before {
                content: if-ltr($fa-var-chevron-right, $fa-var-chevron-left);
            }
        }
    }
    .owl-page {
        span {
        }
    }
}

.owl-item.loading {
    .img-thumbnail {
        min-height: 100px;
        visibility: hidden;
    }
}

/* Slick Slider */
.slick-slider {
    .slick-dots li{
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
        i {
            @if $dark == 1 {
                color: $color-dark-4 !important;
            } @else {
                color: #d6d6d6 !important;
            }
        }
    }
    .slick-prev {
        width: auto;
        height: auto;
        #{$left}: 0;
        text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
    }
    .slick-next {
        width: auto;
        height: auto;
        #{$right}: 0;
        text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
    }

    @media #{$screen-medium} {
        .slick-prev,
        .slick-next {
            display: none !important;
        }
    }
}
.dots-inner .slick-slider,
.slick-slider.dots-inner {
    ul.slick-dots {
        position: absolute !important;
        bottom: 10px !important;
    }
}

[dir="rtl"] .slick-prev:before,
[dir="rtl"] .slick-next:before {
    display: none;
}

[dir="rtl"] .slick-prev i:before {
    content: "\e60d";
}
[dir="rtl"] .slick-next i:before {
    content: "\e60c";
}

.owl-item.loading,
.yith-wcan-loading{
    position: relative;
}
#fancybox-loading div {
    background-image: none;
    display: none;
}
.owl-item.loading,
.yith-wcan-loading,
.master-slider .ms-loading-container .ms-loading,
.master-slider .ms-slide .ms-slide-loading,
#fancybox-loading,
.blueimp-gallery > .slides > .slide-loading,
.slick-slider .slick-loading .slick-list,
.ult-carousel-wrapper > div:first-child > .ult-item-wrap:first-child,
#infscr-loading .infinite-loading,
.porto-ajax-loading {
    background-image: none;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    @include opacity(1);

    &:before {
        content: " ";
        display: inline-block !important;
        border-width: 3px 5px 2px 0;
        width: 32px;
        height: 32px;
        @include animate-spin;
        border-image: none;
        border-radius: 20px;
        border-style: solid;
        border-bottom-color: transparent !important;
        vertical-align: middle;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.carousel-areas {
    background: transparent url(../images/patterns/stripes.png) repeat 0 0;
    padding: 10px 10px 0 10px;
    border-radius: $border-medium;
    max-width: 750px;
    margin-left: auto !important;
    margin-right: auto !important;

    > div {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .ult-carousel-wrapper {
        margin-bottom: 10px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

        .slick-prev {
            #{$left}: -50px;
            border-radius: $border-thin !important;
        }
        .slick-next {
            #{$right}: -50px;
            border-radius: $border-thin !important;
        }
    }

    @media #{$screen-normal} {
        overflow: hidden;
    }
}

.porto-ajax-loading {
    &:before {
        z-index: 2;
    }
    &:after {
        @if $dark == 1 {
            background-color: $dark-bg;
        } @else {
            background-color: #fff;
        }
        content: " ";
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        @include opacity(0.15);
        z-index: 1;
    }
}