/* Slider */

.slider-title {
    font-size: 1.1429em;
    line-height: 1.4;
    letter-spacing: normal;
    font-weight: $font-weight-bold;
    color: $color-widget-title;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1.25em;
    position: relative;

    .line {
        content: "";
        @if $dark == 1 {
            @include background-image(linear-gradient($left, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15) 70%, rgba(255, 255, 255, 0) 100%));
        } @else {
            @include background-image(linear-gradient($left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 70%, rgba(0, 0, 0, 0) 100%));
        }
        display: block;
        height: 1px;
        position: relative;
        bottom: 0.7em;
        width: 0;

        @media #{$screen-small} {
            display: none !important;
        }
    }
}

.master-slider {
    direction: ltr;

    .ms-container {
        .ms-nav-prev,
        .ms-nav-next,
        .ms-slide-vpbtn,
        .ms-video-btn {
            background: transparent;
            border-radius: 0;
            font-family: "FontAwesome";
            font-size: 2.8571em;
            text-align: center;
            line-height: 1;
            margin-top: -25px;
            width: 50px;
            height: 50px;

            &:before {
                text-shadow: 0 0 3px #fff;
                font-size: 1.5em;
                line-height: 50px;
                display: block;
            }
        }
        .ms-nav-prev {
            left: 0;
            &:before {
                content: $fa-var-angle-left;
            }
        }
        .ms-nav-next {
            right: 0;
            &:before {
                content: $fa-var-angle-right;
            }
        }

        .ms-slide-vpbtn,
        .ms-video-btn {
            &:before {
                content: $fa-var-play;
                font-size: 1.1em;
                text-shadow: none;
            }
        }

        .ms-bullet {
            background-image: none;
            width: 10px;
            height: 10px;
            border-radius: 20px;
            margin: 5px 7px !important;
            @include opacity(.5);
        }

        .ms-bullet-selected {
            @include opacity(1);
        }
    }

    .ms-loading-container .ms-loading,
    .ms-slide .ms-slide-loading {
        background-image: none;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        @include opacity(1);

        &:before {
            content: " ";
            display: inline-block !important;
            border-width: 3px 5px 2px 0;
            width: 32px;
            height: 32px;
            @include animation(1s linear 0s normal none infinite running spin);
            border-image: none;
            border-radius: 20px;
            border-style: solid;
            border-bottom-color: transparent !important;
            vertical-align: middle;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    .ms-slide {
        overflow: hidden;
    }
}

#content,
#content-inner-top,
#content-inner-bottom {
    .master-slider {
        border-radius: $border-thick;
        overflow: hidden;
        .ms-slide {
            .ms-slide-bgcont,
            .ms-slide-bgvideocont {
                border-radius: $border-thick;
                overflow: hidden;
            }
        }
    }
    body.wide &,
    .column1.wide & {
        .master-slider {
            border-radius: 0;
            .ms-slide {
                .ms-slide-bgcont,
                .ms-slide-bgvideocont {
                    border-radius: 0;
                }
            }
        }
    }
    .product-image-slider {
        border-radius: 0;
        overflow: visible;
        .ms-slide {
            .ms-slide-bgcont,
            .ms-slide-bgvideocont {
                border-radius: 0;
                overflow: visible;
            }
        }
    }
}

#main.wide {
    #content,
    #content-inner-top,
    #content-inner-bottom {
        .master-slider {
            border-radius: 0;
            overflow: visible;
            .ms-slide {
                .ms-slide-bgcont,
                .ms-slide-bgvideocont {
                    border-radius: 0;
                    overflow: visible;
                }
            }
        }
    }
}

.blueimp-gallery > .prev,
.blueimp-gallery > .next,
body .blueimp-gallery > .play-pause,
body .blueimp-gallery-playing > .play-pause,
body:last-child .blueimp-gallery > .play-pause,
body:last-child .blueimp-gallery-playing > .play-pause {
    background-image: none;
    background-color: transparent;
    border-radius: 0;
    border-width: 0;
    font-family: "FontAwesome";
    font-size: 2.8571em;
    text-align: center;
    line-height: 1;
    margin-top: -25px;
    text-indent: -1000px;
    overflow: hidden;
    display: block;
    width: 50px;
    height: 50px;
    @include opacity(1);

    &:before {
        text-indent: 0;
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        text-align: center;
        font-size: 1.5em;
        line-height: 50px;
        display: block;
    }
}

.blueimp-gallery-single {
    .prev,
    .next,
    .play-pause {
        display: none !important;
    }
}

.blueimp-gallery > .prev {
    &:before {
        content: $fa-var-angle-left;
    }
}
.blueimp-gallery > .next {
    &:before {
        content: $fa-var-angle-right;
    }
}

.blueimp-gallery > .close {
    font-family: "FontAwesome";
    font-size: 25px;
    font-weight: normal;
    @include opacity(0.7);

    &:hover {
        @include opacity(1);
    }

    &:before {
        content: $fa-var-close;
    }
}

body .blueimp-gallery > .play-pause,
body .blueimp-gallery-playing > .play-pause,
body:last-child .blueimp-gallery > .play-pause,
body:last-child .blueimp-gallery-playing > .play-pause {
    width: 40px;
    height: 40px;
    font-size: 1em;
    @include opacity(0.7);

    &:hover {
        @include opacity(1);
    }
}
body .blueimp-gallery > .play-pause,
body:last-child .blueimp-gallery > .play-pause {
    &:before {
        content: $fa-var-play;
    }
}
body .blueimp-gallery-playing > .play-pause,
body:last-child .blueimp-gallery-playing > .play-pause {
    &:before {
        content: $fa-var-pause;
    }
}

.rev_slider_wrapper {
    z-index: 0;
}