/* Social Icons */

.share-links {
    vertical-align: middle;
    a {
        color: #fff;
        text-indent: -9999em;
        text-align: center;
        width: 2.2857em;
        height: 2.2857em;
        display: inline-block;
        margin: side-values(.2857em .5714em .2857em 0);
        border-radius: $border-base;
        position: relative;
        text-decoration: none;
        vertical-align: middle;
        @include transition($transition);
        @include transform(translate3d(0,0,0));

        &:before {
            font-family: "FontAwesome";
            text-indent: 0;
            position: absolute;
            left: 0; right: 0; top: 0; bottom: 0;
            line-height: 23px;
            height: 22px;
            margin: auto;
        }
    }
    .share-twitter {
        background: #1aa9e1;
        &:hover { color: #fff; background: lighten(#1aa9e1, 10%); }
        &:before { content: $fa-var-twitter; }
    }
    .share-facebook {
        background: #3b5a9a;
        &:hover { color: #fff; background: lighten(#3b5a9a, 10%); }
        &:before { content: $fa-var-facebook; }
    }
    .share-linkedin {
        background: #0073b2;
        &:hover { color: #fff; background: lighten(#0073b2, 10%); }
        &:before { content: $fa-var-linkedin; }
    }
    .share-rss {
        background: #ff8201;
        &:hover { color: #fff; background: lighten(#ff8201, 10%); }
        &:before { content: $fa-var-rss; }
    }
    .share-googleplus {
        background: #dd4b39;
        &:hover { color: #fff; background: lighten(#dd4b39, 10%); }
        &:before { content: $fa-var-google-plus; }
    }
    .share-pinterest {
        background: #cc2127;
        &:hover { color: #fff; background: lighten(#cc2127, 10%); }
        &:before { content: $fa-var-pinterest; }
    }
    .share-youtube {
        background: #c3191e;
        &:hover { color: #fff; background: lighten(#c3191e, 10%); }
        &:before { content: $fa-var-youtube; }
    }
    .share-instagram {
        background: #7c4a3a;
        &:hover { color: #fff; background: lighten(#7c4a3a, 10%); }
        &:before { content: $fa-var-instagram; }
    }
    .share-skype {
        background: #00b0f6;
        &:hover { color: #fff; background: lighten(#00b0f6, 10%); }
        &:before { content: $fa-var-skype; }
    }
    .share-email {
        background: #dd4b39;
        &:hover { color: #fff; background: lighten(#dd4b39, 10%); }
        &:before { content: $fa-var-envelope; }
    }
    .share-vk {
        background: #6383a8;
        &:hover { color: #fff; background: lighten(#6383a8, 10%); }
        &:before { content: $fa-var-vk; }
    }
    .share-xing {
        background: #1a7576;
        &:hover { color: #fff; background: lighten(#1a7576, 10%); }
        &:before { content: $fa-var-xing; }
    }
    .share-tumblr {
        background: #304e6c;
        &:hover { color: #fff; background: lighten(#304e6c, 10%); }
        &:before { content: $fa-var-tumblr; }
    }
    .share-reddit {
        background: #ff4107;
        &:hover { color: #fff; background: lighten(#ff4107, 10%); }
        &:before { content: $fa-var-reddit; }
    }
    .share-vimeo {
        background: #52b8ea;
        &:hover { color: #fff; background: lighten(#52b8ea, 10%); }
        &:before { content: $fa-var-vimeo; }
    }
    .share-telegram {
        background: #0088cc;
        &:hover { color: #fff; background: lighten(#0088cc, 10%); }
        &:before { content: $fa-var-send; }
    }
    .share-yelp {
        background: #c41200;
        &:hover { color: #fff; background: lighten(#c41200, 10%); }
        &:before { content: $fa-var-yelp; }
    }
    .share-flickr {
        background: #0063DC;
        &:hover { color: #fff; background: lighten(#0063DC, 10%); }
        &:before { content: $fa-var-flickr; }
    }
    .share-whatsapp {
        background: #3c8a38;
        &:hover { color: #fff; background: lighten(#3c8a38, 10%); }
        &:before { content: $fa-var-whatsapp; }
    }
}