/*
Theme Name: Ranjana - Sana - Nisha Theme
Theme URI: http://ranjansananisha.com
Author: Ranjana
Author URI: http://ranjansananisha.com/
Description: Wordpress Theme by Ranjana - Sana - Nisha
Version: 1.1.1.1
License: College Project
License URI: http://ranjansananisha.com
Tags: woocommerce, corporate, ecommerce, responsive, blue, black, green, white, light, dark, red, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: porto

*/

.master-slider .ms-loading-container .ms-loading,
.master-slider .ms-slide .ms-slide-loading {
    background-image: none;
    background-color: transparent;
}

/*************** ADD YOUR CUSTOM CSS HERE  ***************/

.bypostauthor {}